<section class="signup">
  <h2>Signup</h2>
  <form action="/create" method="POST">
    <p>
      <label>
        Email
        <br>
        <input type="text" name="email" value="<%= p[:email] %>">
      </label>
      <%= r(:email) %>
    </p>
    <p>
      <label>
        Password
        <br>
        <input type="password" name="password">
      </label>
      <%= r(:password) %>
    </p>
    <p>
      <label>
        Confirm
        <br>
        <input type="password" name="confirm">
      </label>
      <%= r(:confirm) %>
    </p>
    <p>
      <button>Sign up</button>
    </p>
  </form>
</section>
