<% @title = 'Signup' %>

<section class="signup">
  <h2>Signup</h2>
  <form action="/create" method="POST">
    <p>
      <label>
        Email
        <br>
        <input type="text" name="email" value="<%= @user.email %>">
      </label>
      <%= r(@user, :email) %>
    </p>
    <p>
      <label>
        Password
        <br>
        <input type="password" name="password">
      </label>
      <%= r(@user, :password) %>
    </p>
    <p>
      <label>
        Confirm
        <br>
        <input type="password" name="confirm">
      </label>
      <%= r(@user, :confirm) %>
    </p>
    <p>
      <button>Sign up</button>
    </p>
  </form>
</section>
